<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="formGroup">
        <label for="id"></label>
        <input type="text" class="form-control" id="id" formControlName="id">
        <label for="title"></label>
        <input type="text" class="form-control" id="title" formControlName="title">
        <label for="description"></label>
        <input type="number" class="form-control" id="description" formControlName="description">
        <label for="price"></label>
        <input type="text" class="form-control" id="price" formControlName="price">
        <label for="image"></label>
        <input type="text" class="form-control" id="image" formControlName="image">
        <label for="brand"></label>
        <input type="text" class="form-control" id="brand" formControlName="brand">
        <button class="btn btn-primary mt-2" (click)="addProduct()">Add Product</button>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9">
      <input type="text" placeholder="Type the product title here" class="form-control" [(ngModel)]="searchQuery">
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary text-white" (click)="search()">Search</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <app-product-list [products]="products"></app-product-list>
    </div>
    <div class="col-md-4">
      <app-shopping-cart></app-shopping-cart>
    </div>
  </div>
</div>